li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  h1{
    text-align: center;
<<<<<<< HEAD
=======
    background-color: bisque;
>>>>>>> 09f7b6385d995a1601966df3564e831db799ca9e
    margin: auto;
  }
  #menu {
    float: left;
  }
  #myMenu{
    float: left;
  }
  #add{
    float: left;
  }
  button {
    float: right;
  }