li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  h1{
    text-align: center;
    background-color: bisque;
    margin: auto;
  }
  #menu {
    float: left;
  }
  #myMenu{
    float: left;
  }
  #add{
    float: left;
  }
  button {
    float: right;
  }
  body{
    background-image: url("/assets/img/burger.png");
  }